@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #22ff00;
	--main-decor-color:#377172;
	--main-tab-bar-color:#3a3b3a;
    	--main-header-background:#000000;
	--main-font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

/*──────────────────
      Prices
──────────────────*/

#Prices{
	margin-top:100px;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
}
#Prices h3{
    padding-top: 70px;
}
#Prices p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}

#Prices2{
	margin-top:100px;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
}
#Prices2 h3{
    padding-top: 70px;
}
#Prices2 p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}
